.card {
    width : 80%;
    align: center;
    margin: auto; /* Added */
    float: none; /* Added */
    margin-top: 1rem;
    margin-bottom: 10px; /* Added */
    
}

.nav-item{
    margin-left: 0.5rem;
}

.container{
    margin-bottom: 3rem;
}

#banner {
    margin-bottom: 1rem;
}

.row{
    margin-bottom: 1.5rem;
}


.jumbotron {
    background-image: url("../source/background.png");
    background-size: cover;
    padding-bottom: 8rem;
}

@media screen and (max-width :615px){
    
    #kotakinabalu {
        width: 80%;
        height: auto !important;
    }
    .nav-item{
        font-size: 0.9rem;
        margin-left:0rem;
        line-height: 1.0;
    }
    .navbar-nav{
        padding-left: 1rem !important;
    }
}


